.header {
  font-weight: 100;
  background-color: #2bb5a7;
  color: white;
  height: 6rem;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 3px #b5b5b5;

  & > h1 {
    font-weight: 400;
  }
}
