* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  min-width: 320px;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

body,
html,
input,
button,
textarea {
  font-family: sans-serif;
}
